.menu {
  width: 100%;
  padding: 50px 30px;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--color-white);
}

.menu > .item {
  display: inline-block;
  font-size: 18px;
  font-family: "Arimo", sans-serif;
  text-decoration: none;
  color: var(--color-blue);
  position:relative;
  font-weight: bold;

}

.menu > .item:after{
  content: "";
  position:absolute;
  width: 0;
  bottom: -4px;
  left: 0;
  height:2px;
  background-color: var(--color-blue);
}

.menu > .item:hover:after{
  width: 100%;
  transition: width 400ms ease;
}

.menu > .item + .item {
  margin-left: 20px;
}
